body {
	color:white;
	background:#333333;
	font-family:"Consolas";
	cursor:default;
}

body::selection {
	cursor:default;
}
body::-moz-selection {
	cursor:default;
}
ul {
	list-style-type:none;
}

li {
	margin:6px;
}

a {
	color:#FF3333;
	text-decoration:none;
}

.slider {
	width: 200px;
	height: 50px;
	margin:10px;
	font-size:0.6em;
	position:absolute;
}

.sliderName {
	font-size:11px;
	font-weight:100;
	left:50%; margin-left:-200px;
	position:absolute;
}


#canvas1 {
	
}
